<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('news/add')}" data-title="图片添加" href="javascript:void(0)">图片添加</a></li>
					<li><a data-href="{:url('news/index')}" data-title="内容管理" href="javascript:void(0)">内容管理</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('index/add')}" data-title="添加会员" href="javascript:;">添加会员</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i>版本控制<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('version/add')}" data-title="添加版本" href="javascript:;">添加版本</a></li>
					<li><a data-href="{:url('version/index')}" data-title="版本管理" href="javascript:;">版本管理</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>